section.rank

  table.afterrank
    tr
      th.classification RANK
      th.rider RIDER
      th.no NO
      th.team TEAM
      th.time TIME
      th.behind BEHIND
    each rider, index in afterrank.slice( 0, 10 )
      tr
        td.classification=index+1
        td.rider #[span.flag( class="flag-#{rider.lang}" )] #{rider.name}
        td.no=rider.no
        td.team=rider.team
        td.time=rider['time']
        td.behind=rider['behind']