header
  img.logo( src="/images/logo.svg" )
  
  h1
    if info.distance > 0 
      span.chapeau #{info.date} &ndash; #{info.startsAt} &ndash; #{info.distance}km
      span.title #{info.start} &ndash; #{info.finish}
    else
      span.chapeau #{info.date} &ndash; #{ info.type }
      span.title #{info.start}

  .options
    button.fullscreen Fullscreen
    button.notifications Notifications
    a.about( href="/about" ) ABOUT
