.map-window-holder( id=identifier )
  button.close-window close
  //-button.next-window next
  
  .map-window
    h1 #{group.name} (#{group.size})

    .stats
      if group.speed !== "0.0"
        .stat-wrapper
          span.title speed
          span.content.speed #{group.speed}km/h

      if group.avgSpeed !== "0.0"
        .stat-wrapper
          span.title Average speed
          span.content.speed #{group.avgSpeed}km/h

      if group.steepness
        .stat-wrapper
          span.title steepness
          span.content.slope #{group.slope}%
      
      .stat-wrapper
        span.title to finish
        span.content.distance #{group.distToFinish}km

    if group.gapNextGroupDist !== false || group.gapPrevGroupDist !== false || group.gapLeadingGroupTime !== false || group.gapNextGroupTime !== false
      .times
        if group.gapNextGroupDist !== false
          .time-wrapper
            span.title to next group
            span.content.distance #{group.gapNextGroupDist}km

        if group.gapPrevGroupDist !== false
          .time-wrapper
            span.title ahead of previous group
            span.content.distance #{group.gapPrevGroupDist}km
        
         if group.gapNextGroupTime !== false
          .time-wrapper
            span.title to next group
            span.content.time #{group.gapNextGroupTime}

        if group.gapLeadingGroupTime !== false
          .time-wrapper
            span.title to leading group
            span.content.time #{group.gapLeadingGroupTime}

       
    if group.jerseys.yellow || group.jerseys.polka_dot || group.jerseys.green || group.jerseys.white 
     .jerseys
       if group.jerseys.yellow 
        span.yersey.y
       
       if group.jerseys.polka_dot 
        span.yersey.g
       
       if group.jerseys.green 
        span.yersey.w
       
       if group.jerseys.white 
        span.yersey.r

    if group.riders.length > 0
      ul.riders
        for rider in group.riders
          li( data-lang=rider.countryCode )
            img.pic( src=rider.photo, width="40" )
            span.name
              span.flag( class="flag-" + rider.countryCode )
              | #{rider.name} 
            span.team
              | #{rider.teamCode}, in #{rider.classificationGeneral.split( ', ' )[ 0 ]}th place at #{rider.classificationGeneral.split( ', ' )[ 1 ]}
