.map-window
  h1 #{group.name} (#{group.size})

  .stats
    if group.speed !== 0
      .stat-wrapper
        span.title speed
        span.content.speed #{group.speed}

    if group.avgSpeed !== 0
      .stat-wrapper
        span.title Average speed
        span.content.speed #{group.avgSpeed}

    .stat-wrapper
      span.title steepness
      span.content.slope #{group.slope}%
  
    .stat-wrapper
      span.title to finish
      span.content.distance #{group.distToFinish}km

  .times
    if group.gapNextGroupDist !== false
      .time-wrapper
        span.title to next group
        span.content.distance #{group.gapNextGroupDist}km

    if group.gapPrevGroupDist !== false
      .time-wrapper
        span.title from prev group
        span.content.distance #{group.gapPrevGroupDist}km
    
    if group.gapLeadingGroupTime !== false
      .time-wrapper
        span.title to leading group
        span.content.time #{group.gapLeadingGroupTime}

    if group.gapNextGroupTime !== false
      .time-wrapper
        span.title to next group
        span.content.time #{group.gapNextGroupTime}

  if group.jerseys.yellow || group.jerseys.polka_dot || group.jerseys.green || group.jerseys.white 
   .jerseys
     if group.jerseys.yellow 
      span.yersey.y
     
     if group.jerseys.polka_dot 
      span.yersey.g
     
     if group.jerseys.green 
      span.yersey.w
     
     if group.jerseys.white 
      span.yersey.r

  ul.riders
    for rider in group.riders
      li
        img.pic( src=rider.photo, width="40" )
        span.name #{rider.firstName} #{rider.lastName}
        span.rider-stats #{rider.speed.toFixed( 1 )}km/h