section.rank

  if !rank.individual && !rank.white && !rank.sprinters && !rank.climbers
    p no rank known yet

  .switch-tables-wrapper
    if rank.individual
      button.switch.active( data-switch="individual") yellow
    
    if rank.white
      button.switch( data-switch="white") white
    
    if rank.climbers
      button.switch( data-switch="climbers") polka dot
    
    if rank.sprinters
      button.switch( data-switch="sprinters") green

  if rank.individual
    table.switchable.individual
      tr
        th.classification RANK
        th.rider RIDER
        th.no NO
        th.team TEAM
        th.time TIME
        th.behind BEHIND
      each rider, index in rank.individual
        tr( data-lang=rider.lang )
          td.classification=index+1
          td.rider #[span.flag( class="flag-#{rider.lang}" )] #{rider.name}
          td.no=rider.no
          td.team=rider.team
          td.time=rider['individual-time']
          td.behind=rider['individual-behind']

  if rank.climbers
    table.switchable.climbers
      tr
        th.classification RANK
        th.rider RIDER
        th.no NO
        th.team TEAM
        th.points POINTS
      each rider, index in rank.climbers
        tr
          td.classification=index+1
          td.rider #[span.flag( class="flag-#{rider.lang}" )] #{rider.name}
          td.no=rider.no
          td.team=rider.team
          td.points=rider.climb

  if rank.sprinters 
    table.switchable.sprinters
      tr
        th.classification RANK
        th.rider RIDER
        th.no NO
        th.team TEAM
        th.points POINTS
      each rider, index in rank.sprinters
        tr
          td.classification=index+1
          td.rider #[span.flag( class="flag-#{rider.lang}" )] #{rider.name}
          td.no=rider.no
          td.team=rider.team
          td.points=rider.sprint

  if rank.white
    table.switchable.white
      tr
        th.classification RANK
        th.rider RIDER
        th.no NO
        th.team TEAM
        th.time TIME
        th.behind BEHIND
      each rider, index in rank.white
        tr
          td.classification=index+1
          td.rider #[span.flag( class="flag-#{rider.lang}" )] #{rider.name}
          td.no=rider.no
          td.team=rider.team
          td.time=rider['white-time']
          td.behind=rider['white-behind']