if !tomorrow.error
  section.tomorrow
    h1
      span.chapeau TOMORROW &ndash; #{tomorrow.startsAt} &ndash; #{tomorrow.distance}km
      span.title #{ tomorrow.start } &ndash; #{tomorrow.finish}
    
    img( src=tomorrow.route )