if !tomorrow.error
  section.tomorrow
    if tomorrow.distance !== 0
      h1
        span.chapeau TOMORROW &ndash; #{tomorrow.startsAt} &ndash; #{tomorrow.distance}km
        span.title #{ tomorrow.start } &ndash; #{tomorrow.finish}
    
      img.profile( src=tomorrow.profile )

    else
      h1
        span.chapeau TOMORROW
        span.title Restday in #{ tomorrow.start }
