- var mediaRendered = false

blockquote( id!=tweet.id )
  p.entry!=tweet.text

  if tweet.extended_entities
    - var mediaRendered = true

    for entity in tweet.extended_entities

      if entity[ 0 ].type === 'video'
        figure.media
          .media-wrapper.video
            video( src=entity[ 0 ].video_info.variants[ 0 ].url, autoplay, controls )

      if entity[ 0 ].type === 'photo'
        figure.media
          img( src=entity[ 0 ].media_url )
  
  if typeof( tweet.entities.urls ) !== "undefined"

    for url in tweet.entities.urls
      if url.expanded_url.indexOf( 'vine' ) !== -1
        figure.media
          .media-wrapper.iframe
            iframe( src=url.expanded_url + '/embed/simple?audio=0', frameborder="0" )

  if !mediaRendered && typeof( tweet.entities.media ) !== "undefined"
    for media in tweet.entities.media
      figure.media
        img( src=media.media_url )
  
  p.meta
    if tweet.user && tweet.user.screen_name
      a( href="//twitter.com/#{tweet.user.screen_name}", target="_blank" ) @#{tweet.user.screen_name}
      |  &ndash; #{tweet.created_at}
    else
      | #{tweet.created_at}